apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service-app
  template:
    metadata:
      labels:
        app: order-service-app
    spec:
      containers:
        - name: node-app
          image: pbiswas1208/order-service:latest
          ports:
            - containerPort: 3000